.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  /*margin-top: 10px;*/
  margin: 5% 1.5%;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:100px;
  width: 25%;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
}

.cardmodal {
  /*margin-top: 10px;*/
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
 height:500px;
  border-radius: 10px;
  margin: 0% 0%;
  overflow: auto;
}

.card1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card1 {
  /*margin-top: 10px;*/
  margin: 0% 0%;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:100px;
  width: 70%;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
}
